DATABASE_URL=
JWT_SECRET=
JWT_EXPIRES_IN=7d
REDIS_HOST=
REDIS_PORT=6379
REDIS_PASSWORD=
TMDB_API_KEY=7985342d5961e9ee3d5ef6d969c1b8dd
SITE_NAME=泽泽妈妈资源库
SITE_URL=
ADMIN_EMAIL=
WECHAT_CONTACT=HKmaipanren